.text-bold {
    font-weight: bold;
}
.flex {
    display: flex;
}
.flex-middle {
    align-items: center;
}
.flex-1 {
    flex: 1;
}
.input {
    height: 30px;
    line-height: 30px;
}

.main-body {
    padding: 4px;
    width: 230px;
}
.shield-anchors {
    padding-bottom: 8px;
    border-bottom: 1px solid #ddd;
}
.shield-anchor-item {
    line-height: 2.4;
}
.shield-container {
    padding-top: 8px;
}
.input-shield {
    margin-right: 4px;
}
